* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
/* body {
  margin: 20px auto;
} */
.tasks {
  width: 80%;
  margin: 40px auto;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: blueviolet;
}

h3 {
  font-size: 24px;
  padding-bottom: 5px;
}

p {
  font-size: 19px;
  padding-bottom: 20px;
}

#button{
  padding: 15px 20px;
  color: white;
  font-size: 20px;
  background-color: blueviolet;
  border:none;
  margin-inline: 0 auto;
  border-radius: 17px;
}

#challenge {
  margin-top: 15px;
  border: 2px solid brown;
}

.challenge {
  font-size: 80px;
  color: aquamarine;
}

.prompt {
  color: red;
  font-size: 30px;
}